.textformholder {
    width: 100%;
    margin-bottom: 14px;
  }
  
  .textfield {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    flex-direction: column;
    margin-top: 14px;
    display: flex;
  }
  
  .formholder {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    width: 100%;
    display: flex;
  }
  
  .emailfield {
    padding: 10px;
    z-index: 1;
    border: 1px solid;
    border-color: #0fac73;
    background-color: #fff;
    height: 51px;
    font-size: 18px;
    transition: border-color 0.45s, box-shadow 0.425s;
    position: relative;
  }
  
  .messageholder {
    z-index: 1;
    border: 1px solid var(--button-color);
    color: var(--heading-text-color);
    background-color: #fff;
    border-radius: 0;
    width: 100%;
    height: 51px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    transition: border-color .45s, box-shadow .425s;
    position: relative;
  }
  
  .submitbutton {
    background-color: #0fac73;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 11px 36px;
    font-size: 30px;
    font-weight: 400;
    display: flex;
  }
  
